@import 'variable';

@media (min-width: $lg) {
	.bracket-mlb {
		.logo_league {
			position: absolute;
			bottom: calc(50% - 80px);
			left: -25px;
		}
		.group-right {
			.logo_league {
				left: auto;
				right: -25px;
			}
		}
		.bracket-contest h2 {
			width: 55vw;
		}
	}
}
//MOBILE
@media (max-width: $lg) {
	.bracket-mlb {
		.logo_league {
			display: none;
		}
	}
}

//IF WP PAGE IS LESS THAN 1200px
.swithMobile {
	#group-1_R {
		.match_1::before,
		.match_2::before {
			left: auto;
			right: 80%;
		}
	}
}
