@import 'variable';
$logos_Size: 260px;
@media (min-width: $lg) {
	.bracket-mlb {
		.logo_league {
			position: absolute;
			bottom: calc(50% - 80px);
			left: -25px;
			min-width: $logos_Size;
		}
		.group-right {
			.logo_league {
				left: auto;
				right: -25px;
				min-width: $logos_Size;
			}
		}
		.bracket-contest {
			.champ {
				margin-left: auto;
				margin-right: auto;
				&:hover {
					border: 1px solid $color-championship;
				}
			}
			h2 {
				width: 55vw;
			}
		}
	}
}
//MOBILE
@media (max-width: $lg) {
	.bracket-mlb {
		.logo_league {
			display: none;
		}
	}
}
.bracket-mlb {
	& .matchBox-rank {
		font-weight: 600;
	}
}
//IF WP PAGE IS LESS THAN 1200px
.swithMobile {
	.bracket-mlb {
		border: 2px solid pink;
	}
}
