@import 'variable';
.bracket-nhl {
	//Not mobile

	$col2-left: 50px;
	$col2_line_v: 30%;

	$col3-left: 70px;
	$col3_line_v: 50% !important;

	.logo_league {
		position: absolute;
		max-width: 105px;
	}
	.stages-link {
		white-space: nowrap;
	}
	.group {
		&-1 {
			justify-content: center !important;
			gap: 10px;
			.match_1 {
				&::before {
					top: 150px;
				}
			}
			.match_2 {
				margin-top: calc(100% - 20px);
				&::before {
					display: none;
				}
			}
			.match_3 {
				margin-bottom: calc(100% - 20px);
			}
			.match_4 {
				&:before {
					@include line-v(250px, auto, auto, $col2_line_v, auto); //$height, $top, $bottom, $right, $left
				}
			}
			.logo_league {
				top: -195px;
				right: -90px;
			}

			.match-row {
				flex: initial !important;
			}
		}
		&-2 {
			left: -$col2-left;
			margin-top: initial !important;
			height: 100%;
			justify-content: center;

			.match-row {
				flex: initial !important;
			}
			.match_1 {
				margin-bottom: calc(100% - 30px);
				&:after {
					right: $col3_line_v;
				}
				&::before {
					left: $col3_line_v;
				}
			}
			.match_2 {
				margin-top: calc(100% - 30px);
				&:after {
					right: $col3_line_v;
				}
				&::before {
					left: $col3_line_v;
				}
			}
		}
		&-3 {
			left: -$col3-left;
			z-index: 30;
		}
		&-right {
			.group {
				&-1 {
					.match_4 {
						&:before {
							right: auto;
							left: $col2_line_v;
						}
					}
				}
				&-2 {
					left: $col2-left;
					.match_2,
					.match_1 {
						&:after {
							left: auto;
							right: $col3_line_v;
						}
						&::before {
							left: $col3_line_v;
						}
					}
				}
				&-3 {
					left: $col3-left;
				}
			}
		}
	}

	//mobile
	@mixin mobile {
		.logo_league {
			display: none;
		}
		.group {
			&-2,
			&-3 {
				left: auto !important;
				right: auto;
			}
		}
	}
	@media (max-width: $lg) {
		@include mobile;
	}
	//small container
	.swithMobile {
		@include mobile;
	}
}
