@import 'variable';
@import 'desktop';
.bracketContest {
  border-radius: 10px;
  margin: 2rem;

  h2{
    font-size: clamp(2rem, 10vw, 32px);
    text-align: center;
    margin: auto;
    position: relative;
    top: -35px;
    background-color: white;
    &::before, &::after {
      position: absolute;
      display: flex;
      height: 15px;
      align-items: center;
      top: 6px;
      font-size: 30px;
    }
  &::before {
    content: '🢒';
    left: -5px;
  }
  &::after {
    content: '🢐';
    right: -5px;
  }
  }
  .bracketContest-wrap{
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    & > p {
      display: none;
  }
  }
 


}
// Championship
.match-championship {
  display: flex;
  background-color: gray;
  width: 100%;
  text-align: center;
  justify-content: center;
 

}
.matchBox{
  height: 80px;
  box-shadow: 0 2px 4px rgba(0,0,0,.16);
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: $col-width;
    border: 1px solid #484A4E;
    border-radius: 5px;
    overflow: hidden;
    &-team{
      width: 100%;
      margin: 0 5px;
      font-size: 12px;
      min-height: 30px;
      display: flex;
      padding: 5px;
    }
    &-team:nth-child(2) {
      background-color: #F3F3F3; 
     }
    & > p{
      display: none;
    }
    &-logo {
      height: 25px;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    &-nickname{
      margin-left: 5px;
      display: flex;
      align-items: center;
    }
    &-teamName{
      margin-left: 5px;
      display: flex;
      align-items: center;
      flex: 1;
    }
    &-rank{
      font-weight: 500;
      margin-left: 5px;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    &.wildcard{
      border-right: 4px solid $color-wildcard;
    }
    &.division{
      border-right: 4px solid $color-division;
    }
    &.championship{
      border-right: 4px solid $color-championship;
    }
  
}
.match-row {
  display: flex;
  flex: 1;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;

    &:last-child{
    justify-content: flex-end;
    align-content:flex-end;
  }
}
//la primera arriba la segunda abajo 
.group{
    background-color: white;
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
  &-match {
    display: flex;
    height: $bracketHeight;

  }
  &-left{
    max-width: $group-width;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-center {
    min-width: 255px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .thumb{
    width: 30px;
  }
  &-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: $group-width;
    .group-stages,.group-match{
      flex-direction: row-reverse;
    }
    .group-1{
      left: 0px;
      .match_1::after, .match_2::after{
        right: 80%;
      }
    }
    .group-2{
      left: 80px;
      .match_1::after, .match_2::after{
        right: 90%;
      }
    }
    .group-3{
      left: 120px;
      .match_1::after{
        left: -260px;
      }
    }

      
  }

  &-1{
    position: relative;
    height: 100%;
    
    p{
      display: none;
    }
    .logo{
      position: absolute;
      max-width: 250px;
      height: 160px;
      top: calc($bracketHeight / 2 - 80px);
        z-index: 20;
    }
    .match_1{
      position: relative;
      @include line-v(70px, 81px, auto, 30%); //height, top, bottom , right/
    }
    .match_2{
      position: relative;
      @include line-v(70px, auto, 81px, 30%); //height, top, bottom , right/
    }
  }

  //.group-division 
  &-2 {
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
    left: -80px;
    z-index: 25;
    display: flex;
    flex-direction: column;
      p{
      display: none;
    }
    .match_1{
      position: relative;
      @include line-v(70px, 81px, auto, 10%); //height, top, bottom , right/
    }
    .match_2{
      position: relative;
      @include line-v(70px, auto, 81px, 10%); //height, top, bottom , right/
    }
  }
  //championship
  &-3 {
    height: 100%;
    position: relative;
    left: -120px;
    z-index: 30;
    .match_1{
      @include line-h (260px, 50%,-260px, auto) 
    }
    p{
      display: none;
    }
    .match-row{
      height: 100%;
      align-content: center;
      justify-content: center;
    }

  }
  &-center{
  z-index: 50;
  }
  &-worldseries{
    .worldseries{
      padding: 10px;
      width: 200px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f3f3f3 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      border-radius: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: auto;
      position: relative;
      @include line-v(70px, 161px, auto, 50%); //height, top, bottom , right/
      .title{
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .worldseries-wrap{
        .matchBox {
          width: $col-width;
          display: flex;
          flex-direction: row;
          padding: 0px;
          border: 1px solid #707070;
          &-teamName {
            height: 5px;
            min-height: 5px;
            padding: 0px;
            margin: 0px!important;
            line-height: 12px;
            margin-bottom: 10px!important;
        }
          &-team {
            background: #F3F3F3 0% 0% no-repeat padding-box;
            padding: 0px;
            margin: 0px;
            border-radius: 10px 0px 0px 10px;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            height: 100%;
            &:first-child{
              border-right: 2px solid #707070;
            }
            * {
              display: flex;
              width: 100%;
              margin: auto;
              justify-content: center;
            }
            p{
            display: none;
            }
            img{
              width: 25px;
              height: 25px;
              margin-top: 10px;
            }
            &:nth-child(2) {
              border-radius: 0px 10px 10px 0px;
          }
        }
        }
    
      }
    }
    .match-row {
      align-content: center!important;
      overflow: initial;
    }
  }
  //group-stages Tabs
  &-stages{
    display: flex;
    flex: 1;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 2rem;
    .date {
      font-size: 12px;
      text-align: center;
      height: 12px;
      line-height: 12px;
      padding: 5px 0px;
    }
    p{
      display: none;
    }
    a, span {
      height: 35px;
      display: flex;
      justify-content: center;
      align-content: center;
      text-decoration: none;
      flex-wrap: wrap;
      opacity: 0;
      padding: 0px 1.4rem;
    }
    a{
      opacity: 1;
      font-size: 12px;
      font-weight: 700;
      color: $color-wildcard;
      border: 1px solid $color-wildcard;
      border-radius: 10px;
    }
    & > div >.wildcard{
      border-color: $color-wildcard;
      color: $color-wildcard;
    }
    & > div > .division{
      border-color: $color-division;
      color: $color-division;
    }
    & > div > .championship{
      border-color: $color-championship;
      color: $color-championship;
    }

  }

  &-wildcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: column;

  }



.champ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  overflow: initial;
  z-index: 80;
  .title{
    font-weight: 700;
  }
  &-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
  }
  img{
    width: 25px;
    height: 25px;
  }
}

}

