/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .vs{
  display: flex;
    margin: auto;
    border-radius: 25px;
    width: 25px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    background: #898383;
    color: white;
 }
 .info{
  background: #898383;
  color: white;
  justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.2vw;
 }
 .info .acf-label{
  display: none;
 }